.row(@columns:@columns) {
	width: @total-width;
	margin-left: auto;
	margin-right: auto;	
}

.col(@x,@columns:@columns) {
	display: inline;
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @_gridsystem-width);
	margin-left: @total-width*((@gutter-width*.5)/@_gridsystem-width);
	margin-right: @total-width*((@gutter-width*.5)/@_gridsystem-width);	
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}

.column-half {
    .col(6);
}