.tagbox ul {
    .horList();
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
    line-height: 2.5em;
    li {
        position: relative;
        float: left;
        white-space: nowrap;
        margin-bottom: .2em;
        margin-right: .5em;
    }
}
a.tag,
a.tagCounter {
    .smaller();
    float: left;
    margin-right: 0;
}
a.tag {
    position: relative;
    z-index: 2;
    background: @baseColor2;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    border-width: 1px;
    border-style: solid;
    border-color: darken(@baseColor2, 15%) darken(@baseColor1, 15%) darken(@baseColor2, 30%) darken(@baseColor2, 15%);
    padding: .1em 1em;
    color: #222;   
    .css3_border_radius(.3em 0 0 .3em);    
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -0.2em;
        right: -0.2em;
        background: @baseColor1;
        border-width: 1px;
        border-style: solid;
        border-color: darken(@baseColor1, 15%) @baseColor1 darken(@baseColor1, 20%) darken(@baseColor1, 15%);
        height: .4em;
        width: .4em;
        .css3_border_radius(50%);
    }        
}
a.removeTag {
    .visuallyhidden();
    font-family: @fancyFont;
    z-index: 4;
    content: "x";
    display: block;
    position: absolute;
    line-height: 1em;
    background: @baseFontColor;
    color:  #fff;
    top: -0.6em;
    left: -0.6em;
    text-align: center;
    .css3_border_radius(50%);
    font-size: .85em;
}
a.personal {
    background: @baseColor4;
}
.no-touch a.personal:hover + a.removeTag,
.no-touch a.removeTag:hover {
    border: 1px solid #fff;
    clip: auto;
    height: 1.3em;
    margin: 0;
    width: 1.3em;
}
a.tagCounter {
    .personIcon();
    .css3_border_radius(0 .3em .3em 0);
    .css3_transition(margin-left .2s ease-out);    
    padding: .1em .5em .1em 1.3em;
    background-color: @baseColor1;
    border: 1px solid @baseColor1;
    border-width: 1px;
    border-style: solid;
    border-color: darken(@baseColor1, 10%) darken(@baseColor1, 10%) darken(@baseColor1, 15%) @baseColor1;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.no-touch a.tagCounter {
    margin-left: -2.1em;
    position: absolute;
    z-index: 1;    
}
.no-touch a.tag:hover {
    z-index: 4;
}
.no-touch a.tag:hover ~ a.tagCounter,
.no-touch a.tagCounter:hover {
    margin-left: 0em;
    z-index: 3;
}
form.addTag {
    width: 100%;
    clear: left;
    //margin-top: @space/2 * 1em;
    margin-bottom: 0;
    line-height: 2.5em;
    fieldset {
        background: lighten(@bodyBg, 5%);
        .css3_border_radius(.3em);
        border: 1px solid @baseColor1;
        position: relative;
        padding-top: 0;
        margin-bottom: 0;
        font-size: 0.889em;
    }
    input,
    button {
        border: none;
        background: transparent;
    }
    input {
        padding: .2em 8.230769231em .2em .25em;
        line-height: normal;
        width: 10em;
        font-size: 1em;
    }
    input:focus {
        outline: none;
        .css3_box_shadow(none);
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        .smaller();
        font-size: 1em;
        line-height: 1.5em;
        padding: .2em .666666667em;
        text-shadow: 0 .1em 0 @baseColor4;
        .css3_box_shadow(0 0 0 1px darken(@baseColor4, 20%));
        #css3_gradient > .vertical(@baseColor4, darken(@baseColor4, 10%));
        .css3_border_radius(0 .3em .3em 0);
        height: 100%;
    }
}
.no-touch {
    .tagbox ul,
    form.addTag {
        line-height: 1.5em;
    }
    form.addTag fieldset {
        font-size: .75em;    
    }    
}
#tagStatus {
    margin: 5px 0 0 0;
}