<div id="chatter-panel">
  <div class="pushdownContent clearfix">
    <div id="on-your-mind" class="panel">
      <h3>On your mind</h3>
      <form class="form-stacked" action="{{chatter_url}}/add_chatter.html" method="POST">
        <div class="control-group clearfix">
          <div class="controls">
            <textarea id="chatter-panel-text" name="text"></textarea>
            <p class="help-block tips">Tips: Use @username, #tag, and #this for this page</p>
          </div>
          <div class="actions">
            <div class="btn-group">
              <button id="speak" type="submit" class="btn btn-small">Speak</button>
            </div>
          </div>
        </div>
      </form>
      <div class="houstonWeHaveAProblem notification info">
        <strong>Something went wrong.</strong>
        <p>We could not update the messages for you. But don't you
           worry, we'll try again as soon as possible.</p>
      </div>
      <a id="goto-chatter" class="btn btn-small btn-primary goto" href="{{chatter_url}}" title="Go to Chatter">Go to Chatter</a>
    </div>
    {{#streams}}
    <div id="{{class}}" class="panel">
      <h3>{{title}}<span class="updating">Updating&hellip;</span>
      <a href="{{has_more_news_url}}" class="view-all" title="Go to Chatter">
        View all {{#has_more_news}}({{has_more_news}} more new items){{/has_more_news}}
      </a>
      </h3>
      {{#items}}
      <div class="panel-item clearfix {{#new}}newMessage{{/new}}">
        <div class="panel-header">
          <span class="timeago" title="{{info}}">{{info}}</span>
        </div>
        <div class="panel-item-content">
          <a href="{{author_profile_url}}">
            <img alt="{{author}}" src="{{image_url}}" class="avatar" />
            <span class="fullname">{{author}}</span>
          </a>
          <div class="messagewrapper">
            <div class="messagetext">
              {{text}}
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="view-options">
            <a class="view-more" href="#"><i class="icon-plus"></i>View more</a>
            <a class="view-less" href="#"><i class="icon-minus"></i>View less</a>
            <a class="view" href="{{message_url}}"><i class="icon-eye-open"></i>View</a>
          </div>
        </div>
      </div>
      {{/items}}
    </div>
    {{/streams}}

  </div>
</div>
